.login {
  background: url("./images/restaurant-interior.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}
/* login form styles */
.logo-container {
  text-align: center;
}
.logo-container img {
  width: 7rem;
}
.login-form {
  width: 30%;
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.login-form span {
  color: white;
  font-weight: 700;
}
.login-form input {
  width: 98%;
  padding-block: 1rem;
}
.email-section {
  margin-bottom: 2rem;
}
.submit-login button {
  margin-block: 2rem;
  width: 100%;
  background-color: #ed7014;
  border: none;
  border-radius: 0.2rem;
  text-transform: uppercase;
  color: white;
  padding-block: 1rem;
  font-size: 1rem;
  font-weight: 700;
}
